.article {
  border: 1px solid rgb(10, 120, 109);
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: rgb(25, 221, 201);
}

.education-card {
  margin-top: 50px;
  padding-left: 30px;
  background-color: rgb(105, 207, 195);
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
}
